{% extends "base.html" %}
{% load staticfiles %}
{% block styleBlock %}
    <style>
    #create_category{
	border-radius:0;
	background:linear-gradient(to right, #1a82d1 ,#074b7e);
	color:white;
	padding:5px 40px;
}
     #cancel_category{
	border-radius:0;
	background:linear-gradient(to right, #2b542c ,#087b7e);
	color:white;
	padding:5px 40px;

}
    </style>
{% endblock %}
{% block ScriptBlock %}
 <script>
  $(document).ready(function () {
      console.log("hiiii");

           $('#create_category').click(function (event) {
               if($('#id_name').val()!='') {
               $('#category_form').submit();
                }
             else{
                    alert('Please Insert category name');
            }
           });

  });
    </script>
{% endblock %}
	{% block content %}
				 <!-- CONTENT -->
				<div class="row">	
					<div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
						<div class="vendor-form-outer">	
							<div class="container-fluid" id="vendor-form-container">
								<h2>Create Category</h2>
							

								<form action="{% url 'carx:save_category' %}" id="category_form" class="form-horizontal" method="POST">
									{% csrf_token %}
                                    <div class="row" id="vendor-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Name  <font color="red">*</font></label>
                                                <div class="col-md-9">
                                                    {{form.name}}
                                                    <span class="help-block"></span>
                                                </div>
                                            </div>
									    </div>
                                    </div>
									<div class="pull-right">
									<button type="button" class="btn btn-default" id="create_category" >Create</button>&nbsp;
                                    <button type="button" onclick="window.location.href='{% url "carx:category_list" %}'" class="btn btn-default" id="cancel_category" >Cancel</button>
								    </div>
                                </form>
							</div>
						</div>
					</div>
				</div>
						
			{% endblock %}