{% extends "index.html" %}
{% load staticfiles %}
{%block styleBlock%}
{%endblock%}


{%block ScriptBlock%}
{%endblock%}


				 <!-- NAVBAR -->

{% block content %}
				 <!-- CONTENT -->
				<div class="row">
					<div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
						<div class="vendor-form-outer">
							<div class="container-fluid" id="vendor-form-container">
								<h2>Create Vendor</h2>


								<form >
									<div class="row" id="vendor-row">
										<div class="col-xs-12 col-sm-6 col-md-6">
											<div class="form-group form-custom">
												<label for="Inputtext11">Name</label>
												<input type="text" class="form-control" id="Inputtext11" placeholder="Shop Name">
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6">
											<div class="form-group form-custom">
												<label for="Inputtext22">Photo</label>
												<input type="file" class="form-control" id="Inputtext22" placeholder="">
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6">
											<div class="form-group form-custom">
												<label for="Inputtext33">Address</label>
												<input type="text" class="form-control" id="Inputtext33" placeholder="">
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6">
											<div class="form-group form-custom">
												<label for="Inputtext44">Phone</label>
												<input type="text" class="form-control" id="Inputtext44" placeholder="">
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6">
											<div class="form-group form-custom">
												<label for="Inputtext55">Email</label>
												<input type="email" class="form-control" id="Inputtext55" placeholder="">
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6">
											<div class="form-group form-custom">
												<label for="Inputtext66">Username</label>
												<input type="text" class="form-control" id="Inputtext66" placeholder="">
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6">
											<div class="form-group form-custom">
												<label for="Inputtext77">Password</label>
												<input type="password" class="form-control" id="Inputtext77" placeholder="">
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6">
											<div class="form-group form-custom">
												<label for="Inputtext88">Confirm Password</label>
												<input type="password" class="form-control" id="Inputtext88" placeholder="">
											</div>
										</div>
									</div>



									<a class="btn btn-default pull-right" href="#" id="vendor-btn" role="button">Create</a>
								</form>
							</div>
						</div>
					</div>
				</div>


{%endblock%}