{% extends 'base.html' %}
{% load staticfiles %}

{% block style%}
{% endblock %}
			{% block content %}

				<div class="d_vehicle-create-outer">
					<div class="container-fluid" id="d_vehicle-create-container">
						<h2>Create Vehicle</h2>
						<form>
							<div class="row" id="vehicle-row">
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col">
									<div class="form-group">
										<label for="inputSelect1" class="control-label">Vehicle Type:</label>
											<select class="form-control form-custom" id="inputSelect1">
											  <option>2 Wheeler</option>
											  <option>4 Wheeler</option>
											  <option>Commercial</option>
											</select>
									</div>
								</div>
							</div>
							<div class="row" id="vehicle-row2">
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col2">
									<div class="form-group">
											<label for="inputSelect2" class="col-sm-6 col-md-4 control-label" style="padding:0;">Make:</label>
											<select class="form-control form-custom" id="inputSelect2">
											  <option></option>
											  <option></option>
											  <option></option>
											</select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  vehicle-col2">
									<div class="form-group">
										<label for="inputSelect3" class=" control-label">Model:</label>
											<select class="form-control form-custom" id="inputSelect3">
											  <option></option>
											  <option></option>
											  <option></option>
											</select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col2">
									<div class="form-group">
										<label for="inputSelect4" class="control-label">Segment:</label>
											<select class="form-control form-custom" id="inputSelect4">
											  <option></option>
											  <option></option>
											  <option></option>
											</select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col2">
									<div class="form-group">
										<label for="inputSelect5" class=" control-label">Verient:</label>
											<select class="form-control form-custom" id="inputSelect5">
											  <option></option>
											  <option></option>
											  <option></option>
											</select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col2">
									<div class="form-group">
										<label for="inputSelect6" class="control-label">Fuel Type:</label>
											<select class="form-control form-custom" id="inputSelect6">
											  <option></option>
											  <option></option>
											  <option></option>
											</select>
									</div>
								</div>
							</div>
							<div class="row" id="vehicle-row3">
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col3">
									<div class="form-group">
										<label for="inputText1" class="control-label">Engine:</label>
											<input type="text" class="form-control" id="inputText1" placeholder="">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col3">
									<div class="form-group">
										<label for="inputText2" class="control-label">Power(HP):</label>
										<input type="text" class="form-control" id="inputText2" placeholder="">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col3">
									<div class="form-group">
										<label for="inputText3" class="control-label">Capacity(cc):</label>
										<input type="text" class="form-control" id="inputText3" placeholder="">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col3">
									<div class="form-group">
										<label for="inputText4" class="control-label">Max. Output(Ps) at rpm:</label>
										<input type="text" class="form-control" id="inputText4" placeholder="">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col3">
									<div class="form-group">
										<label for="inputText5" class="control-label">Max.Torqye (Nm) at rpm:</label>
										<input type="text" class="form-control" id="inputText5" placeholder="">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col3">
									<div class="form-group">
										<label for="inputText6" class="control-label">Transmission Type:</label>
										<input type="text" class="form-control" id="inputText6" placeholder="">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col3">
									<div class="form-group">
										<label for="inputText7" class="control-label">Transmission:</label>
										<input type="text" class="form-control" id="inputText7" placeholder="">
									</div>
								</div>
							</div>
							<div class="row" id="vehicle-row4">
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col4">
									<div class="form-group">
										<label for="inputSelect7" class="control-label">Suspension:</label>
											<select class="form-control form-custom" id="inputSelect7">
											  <option>Type</option>
											  <option>Front</option>
											  <option>Rear</option>
											</select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col4">
									<div class="form-group">
										<label for="inputSelect8" class="control-label">Steering:</label>
											<select class="form-control form-custom" id="inputSelect8">
											  <option>Manual</option>
											  <option>Power</option>
											</select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col4">
									<div class="form-group">
										<label for="inputSelect9" class="control-label">Brakes:</label>
											<select class="form-control form-custom" id="inputSelect9">
											  <option>Type</option>
											  <option>Front</option>
											  <option>Rear</option>
											</select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col4">
									<div class="form-group">
										<label for="inputText8" class="control-label">Types & Wheels:</label>
										<input type="text" class="form-control" id="inputText8" placeholder="">
									</div>
								</div>
							</div>
							<div class="row" id="vehicle-row5">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="inputText9" class=" control-label" id="dimen">Dimensions(mm):</label>
										<div id="vehicle-col-fin">
											<div class="row" id="inputText9">
												<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col5">
													<div class="form-group">
														<label for="inputText10" class="control-label">Length:</label>
														<input type="text" class="form-control" id="inputText10" placeholder="">
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col5">
													<div class="form-group">
														<label for="inputText11" class="control-label">Width:</label>
														<input type="text" class="form-control" id="inputText11" placeholder="">
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col5">
													<div class="form-group">
														<label for="inputText12" class="control-label">Height:</label>
														<input type="text" class="form-control" id="inputText12" placeholder="">
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-4  col-lg-3 vehicle-col5">
													<div class="form-group">
														<label for="inputText13" class="control-label">Ground Clearance:</label>
														<input type="text" class="form-control" id="inputText13" placeholder="">
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col5">
													<div class="form-group">
														<label for="inputText14" class="control-label">Turning Radius(m):</label>
														<input type="text" class="form-control" id="inputText14" placeholder="">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row" id="vehicle-row6">
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
											<div class="form-group form-custom">
												<label for="d_Inputtext11" class="control-label">Weight</label>
												<input type="text" class="form-control" id="d_Inputtext11" placeholder="Shop Name">
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
											<div class="form-group form-custom">
												<label for="d_Inputtext44" class="control-label">Fuel Tank Capacity (Litres)</label>
												<input type="text" class="form-control" id="d_Inputtext44" placeholder="">
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
											<div class="form-group form-custom">
												<label for="d_Inputtext55" class="control-label">Mileage</label>
												<input type="text" class="form-control" id="d_Inputtext55" placeholder="">
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
											<div class="form-group form-custom">
												<label for="d_Inputtext66" class="control-label">Scaling</label>
												<input type="text" class="form-control" id="d_Inputtext66" placeholder="">
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
											<div class="form-group form-custom">
												<label for="d_Inputtext77" class="control-label">Start Year</label>
												<input type="text" class="form-control" id="d_Inputtext77" placeholder="">
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
											<div class="form-group form-custom">
												<label for="d_Inputtext88" class="control-label">End Year</label>
												<input type="text" class="form-control" id="d_Inputtext88" placeholder="">
											</div>
										</div>
							</div>
							<a class="btn btn-default pull-right" href="#" id="contd-btn" role="button">Create</a>
						</form>
					</div>
				</div>
                    {% endblock %}


{% block ScriptBlock %}
{% endblock %}
