{% extends 'base.html' %}
{% load staticfiles %}

{% block styleBlock%}

{% endblock %}

{% block head %}

{% endblock %}

			{% block content %}

				<div class="d_vehicle-create-outer">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong> {{ field.label }}: {{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}

                    {% endif %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success">
                                    <strong> {{ message|escape }}</strong>
                                </div>
                        {% endfor %}
                    {% endif %}


					<div class="container-fluid" id="d_vehicle-create-container" style="background-color: white;">

						<h2>Create Vehicle</h2>
						<form method="POST" action="{% url 'carx:update_vehicle_save' id %}" enctype="multipart/form-data">
                            {% csrf_token %}
							<div class="row" id="vehicle-row">
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col">
									<div class="form-group">
										<label for="inputSelect1" class="control-label">Vehicle Type:</label>
											{{ form.vehicle_type }}
									</div>
								</div>

                                 <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col">
									<div class="form-group">
										<label for="inputSelect1" class="control-label">Name:</label>
											{{ form.name }}
									</div>
								</div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col">
									<div class="form-group">
										<label for="inputSelect1" class="control-label">Image:</label>
											{{ form.image }}
									</div>
								</div>
							</div>
							<div class="row" id="vehicle-row2">
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col2">
									<div class="form-group">
											<label for="inputSelect2" class="col-sm-6 col-md-4 control-label" style="padding:0;">Make:</label>
											{{ form.make }}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  vehicle-col2">
									<div class="form-group">
										<label for="inputSelect3" class=" control-label">Model:</label>
											{{ form.model }}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col2">
									<div class="form-group">
										<label for="inputSelect4" class="control-label">Segment:</label>
											{{ form.segment }}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col2">
									<div class="form-group">
										<label for="inputSelect5" class=" control-label">Verient:</label>
											{{ form.verient }}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col2">
									<div class="form-group">
										<label for="inputSelect6" class="control-label">Fuel Type:</label>
											{{ form.fuletype }}
									</div>
								</div>
							</div>
							<div class="row" id="vehicle-row3">
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col3">
									<div class="form-group">
										<label for="inputText1" class="control-label">Engine:</label>
											{{ form.engine }}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col3">
									<div class="form-group">
										<label for="inputText2" class="control-label">Power(HP):</label>
										{{ form.power }}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col3">
									<div class="form-group">
										<label for="inputText3" class="control-label">Capacity(cc):</label>
										{{ form.capacity }}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col3">
									<div class="form-group">
										<label for="inputText4" class="control-label">Max. Output(Ps) at rpm:</label>
										{{ form.output }}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col3">
									<div class="form-group">
										<label for="inputText5" class="control-label">Max.Torqye (Nm) at rpm:</label>
										{{ form.torque }}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col3">
									<div class="form-group">
										<label for="inputText6" class="control-label">Transmission Type:</label>
										{{ form.transmission_type }}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col3">
									<div class="form-group">
										<label for="inputText7" class="control-label">Transmission:</label>
										{{ form.transmission }}
									</div>
								</div>
							</div>
							<div class="row" id="vehicle-row4">
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col4">
									<div class="form-group">
										<label for="inputSelect7" class="control-label">Suspension:</label>
											{{ form.suspensiontype }}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col4">
									<div class="form-group">
										<label for="inputSelect8" class="control-label">Steering:</label>
											{{ form.steering }}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col4">
									<div class="form-group">
										<label for="inputSelect9" class="control-label">Brakes:</label>
											{{ form.breaks }}
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col4">
									<div class="form-group">
										<label for="inputText8" class="control-label">Types & Wheels:</label>
										{{ form.type_and_wheel }}
									</div>
								</div>
							</div>
							<div class="row" id="vehicle-row5">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="inputText9" class=" control-label" id="dimen">Dimensions(mm):</label>
										<div id="vehicle-col-fin">
											<div class="row" id="inputText9">
												<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col5">
													<div class="form-group">
														<label for="inputText10" class="control-label">Length:</label>
														{{ form.length }}
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col5">
													<div class="form-group">
														<label for="inputText11" class="control-label">Width:</label>
														{{ form.width }}
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col5">
													<div class="form-group">
														<label for="inputText12" class="control-label">Height:</label>
														{{ form.height }}
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-4  col-lg-3 vehicle-col5">
													<div class="form-group">
														<label for="inputText13" class="control-label">Ground Clearance:</label>
														{{ form.ground_clearance }}
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 vehicle-col5">
													<div class="form-group">
														<label for="inputText14" class="control-label">Turning Radius(m):</label>
														{{ form.turning_radius }}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row" id="vehicle-row6">
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
											<div class="form-group form-custom">
												<label for="d_Inputtext11" class="control-label">Weight</label>
												{{ form.weight }}
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
											<div class="form-group form-custom">
												<label for="d_Inputtext44" class="control-label">Fuel Tank Capacity (Litres)</label>
												{{ form.fueltank }}
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
											<div class="form-group form-custom">
												<label for="d_Inputtext55" class="control-label">Mileage</label>
												{{ form.mileage }}
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
											<div class="form-group form-custom">
												<label for="d_Inputtext66" class="control-label">Scaling</label>
												{{ form.scaling }}
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
											<div class="form-group form-custom">
												<label for="d_Inputtext77" class="control-label">Start Year</label>
												{{ form.startdate }}
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
											<div class="form-group form-custom">

												<label for="d_Inputtext88" class="control-label">End Year</label>
                                                    {{ form.enddate }}
                                                </div>
											</div>
										</div>
                           <div class="row" id="vehicle-row6" style="margin-bottom: 3em;" >
{#							<a class="btn btn-default pull-right" href="#" id="contd-btn" role="button">Create</a>#}

                             	<div class="col-xs-12 col-sm-6">
                                 <input type="submit" class="btn btn-default pull-right" id="submit" role="button">
                                </div>

                           </div>
						</form>
					</div>

				</div>
                    {% endblock %}


{% block ScriptBlock %}
    <script>
 $('#id_enddate').datepicker({
                       format: " yyyy", // Notice the Extra space at the beginning
                       viewMode: "years",
                       minViewMode: "years"
                  });
 $('#id_startdate').datepicker({
                       format: " yyyy", // Notice the Extra space at the beginning
                       viewMode: "years",
                       minViewMode: "years"
                  });

 $(".form-control.number").on("keypress keyup blur",function (event) {
            //this.value = this.value.replace(/[^0-9\.]/g,'');
     $(this).val($(this).val().replace(/[^0-9\.]/g,''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

 $(".form-control.decimal").on("keypress keyup blur",function (event) {
           $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
$(document).ready(function(){

    $('#id_model').prop('disabled', false);
    });
$('#id_make').change(function(){

        maker_id = $(this).val();
        $.ajax({
                url: '{%  url 'carx_web:model_list' %}',
                data: {maker:maker_id,

                       },
                dataType: 'json',

                success: function (data) {
                    if (data) {

                    $("#id_model").html('');
                    $.each( data, function( key, value ) {

                      $("#id_model").append('<option value='+value.id+'>'+value.name+'</option>');

                    });
                    $('#id_model').prop('disabled', false);
                }else{
                     $("#id_model").html('');
                    $('#id_model').prop('disabled', true);
                }
            }
         });


  });
</script>
{% endblock %}
