/* ---------------------------------------------------
  TABLE - STYLING
----------------------------------------------------- */
.d_vehicle-outer{

}
#d_vehicle-container{
	background:white;
	padding-bottom:30px;
	margin:0 13px;
}
.d_table-title h3{
	color:#6b7395;
	font-size:23px;
	padding:0 0 10px 0;
	display:inline-block;
}
#d_table-header{
	background:#eceae3;
	border-bottom:0;
}
#d_table-header>tr>th{
	border-bottom:0;
	color:#686a76;
	text-align:center;
}
#d_table-body> tr>td{
	color:#686a76;
	vertical-align:middle;
	text-align:center;
}
#d_table-body> tr>td>a{
	margin-right:20px;
}
.d_table-icons{
	display:inline-block;
}
.fa-trash{
	color:red;
}
.fa-pencil{
	color:blue;
	padding-right:10px;
}
.fa-eye{
	color:green;
	padding-right:10px;
}
.add-file{
	height:50px;
	width:50px;
	background:#f4f4f4;
	border:1px dashed #787f9d;
	text-align:center;
	display:inline-block;
	margin-right:10px;
}
.add-file i{
	line-height:50px;
	display:inline-block;
	font-size:25px;
	color:#2965be;
	font-weight:lighter;
}
.d_vehicle-buttons{

}
.d_vehicle-buttons{
	margin:20px 0 10px 0;
	float:right;
}
.d_vehicle-buttons a{
	box-shadow:0 1px 2px 0 silver;
}
#d_listing-btn1{
	border-radius:0;
	background:linear-gradient(to right, #1a82d1 ,#074b7e);
	color:white;
	padding:5px 20px;
}
#d_listing-btn{
	border-radius:0;
	background:linear-gradient(to right, #f09100 ,#bd7404);
	color:white;
	padding:5px 20px;
	margin-right:10px;
}
#d_table-tyre{
	display:inline-block;
	border-radius:10px;
	border:1px solid #e7e7e7;
}
#d_table-tyre1{
	display:inline-block;
	border-radius:10px;
	border:1px solid #e7e7e7;
}
#d_table-form .d_form-custom{
	display:inline-block;
	margin:0;
}
.tyres{
	display:inline-block;
	vertical-align: top;
}
#form-label{
	
}
/* ---------------------------------------------------
   PAGINATION - STYLING
----------------------------------------------------- */

#listing-page>li>a, #listing-page>li>span{
	border-radius:50%;
	margin-right:5px;
	background:#d4d4d4;
	transition:all .5s;
	padding:3px 7px;
	font-size:10px;
	color:#7690b1;
}
#listing-page>li>a:hover{
	background:#f39100;
	color:white;
}
#listing-page> #active >a{
	background:#f39100;
	color:white;
}



@media(max-width:1199px){
	#d_listing-btn{
		margin-right:4px;
		padding:5px 10px;
	}
	#d_listing-btn1{
		padding:5px 10px;
	}
}
@media(max-width:992px){
	#d_listing-btn{
		margin-right:5px;
		padding:5px 10px;
	}
	#d_listing-btn1{
		padding:5px 10px;
	}
}
@media (max-width:768px){
	#vehicle-list-row .vehicle-list-col{
		width:50%;
	}

	.d_vehicle-buttons{
		float:left;
	}
	#d_listing-btn{
		margin-right:9px;
		padding:5px 10px;
	}
		#d_listing-btn1{
			padding:5px 10px;
		}
	.d_table-title h3{
		display:block;
		margin:0;
		margin-top:20px;
	}
	#d_table-form .form-custom{
		display:inline-block;
		margin:0;
	}
	.tyres{
	display:block;
}
	#d_form-label{
		margin-bottom:10px;
	}
	#d_form-label2{
		margin-bottom:10px;
	}
	.add-file{
		margin-right:0;
	}
}

@media (max-width:640px){
	#vehicle-list-row .vehicle-list-col{
		width:100%;
	}
	#d_listing-btn{
		margin-top:10px;
	}
	#d_listing-btn1{
		margin-top:10px;
	}
}