


/* ---------------------------------------------------
    FORM STYLE
----------------------------------------------------- */


.product-form-outer{

}
#product-form-container{
	background:white;
	padding-bottom:30px;
	margin:0 13px;
}
#product-form-container h2{
	color:#6b7395;
	font-size:23px;
	padding:0 0 10px 0;
	border-bottom:1px solid #dce2e6;
}
#pro-row .form-custom label{
	color:#787f9d;
	font-weight:lighter;
	font-size:16px;
}
#product-form-container h3{
	color:#535356;
	font-size:20px;
	padding:0 0 10px 0;
	border-bottom:1px solid #dce2e6;
}
#pro-file-row .form-custom label{
	color:#787f9d;
	font-weight:lighter;
	cursor:pointer;
}
#pro-file-row1 .form-custom label{
	color:#787f9d;
	font-weight:lighter;
	cursor:pointer;
}
#pro-spec-row .form-custom label{
	color:#787f9d;
	font-weight:lighter;
	cursor:pointer;
}
#pro-file-row .form-custom{
	position:relative;
}
.add-file{
	height:75px;
	width:75px;
	background:#f4f4f4;
	border:1px dashed #787f9d;
	text-align:center;
	margin-top:15px;
}
.image-box{
	height:75px;
	width:75px;
	border:1px dashed #787f9d;
	background:#f4f4f4;
	position:absolute;
	top:35px;
	left:85px;
}
.add-file i{
	line-height:75px;
	display:inline-block;
	font-size:25px;
	color:#2965be;
	font-weight:lighter;
}
#product-btn{
	border-radius:0;
	background:linear-gradient(to right, #1a82d1 ,#074b7e);
	color:white;
	padding:5px 40px;
}

@media (max-width:768px){
	#pro-file-row1 .col-xs-12{
		width:50%;
	}
	#pro-file-row .col-xs-12{
		width:50%;
	}
	#pro-row .col-xs-12{
		width:50%;
	}
	#pro-spec-row .col-xs-12{
		width:50%;
	}
}
@media (max-width:480px){
	#pro-file-row1 .col-xs-12{
		width:100%;
	}
	#pro-file-row .col-xs-12{
		width:100%;
	}
	#pro-row .col-xs-12{
		width:100%;
	}
	#pro-spec-row .col-xs-12{
		width:100%;
	}
}